* {
	box-sizing: border-box;
	font-size: 16px;
}

:root {
	--orange: #ff5e5e;
	--grey: #333333;
	--medium-grey: #545454;
	--light-grey: #efefef;
	--green: #04a96c;
}

body {
	font-family: "Trip Sans Reg", sans-serif;
}

.container {
	width: 95vw;
	max-width: 1124px;
	margin: 10px auto;
}
section {
	margin-bottom: 100px;
}

/* HEADER */
header {
	height: 60px;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	background-color: white;
	z-index: 10;
	display: flex;
	padding-bottom: 10px;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0px;
}

.logo-and-search {
	display: flex;
	flex: 1.5;
}

/* logo */

header #logo {
	width: 200px;
	margin-right: 20px;
}

/* search field */

header .search-field {
	flex: 1;
	max-width: 400px;
	margin-right: 20px;
	height: 38px;
	border: solid var(--light-grey) 2px;
	border-radius: 19px;
	background-color: white;
	white-space: nowrap;
}
header .search-field i {
	padding: 7px 7px;
	color: black;
}
header .search-field input,
header .search-field input:focus {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	outline: none;
	height: 100%;
	border-radius: 19px;
	max-width: 340px;
	width: 90%;
}

/* 1ST NAVBAR */

header ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 43px;
}

.primary-nav i {
	font-size: 20px;
}

.primary-nav a {
	text-decoration: none;
	color: #000000;
	font-size: 16px;
	white-space: nowrap;
	padding: 0 8px;
	margin: 1px 5px;
	display: block;
	border-radius: 23px;
	line-height: 43px;
}

.primary-nav li :hover {
	background-color: var(--light-grey);
	transition: 0.3s;
}

#connexion-button button {
	border: none;
	border-radius: 20px;
	height: 40px;
	background-color: black;
	color: white;
}
#connexion-button :hover {
	background-color: var(--grey);
	cursor: pointer;
}

@media (max-width: 1024px) {
	header ul li span {
		display: none;
	}
}

.breakpoint768 {
	display: none;
}

@media (max-width: 768px) {
	header ul {
		display: none;
	}
	.search-field {
		display: none;
	}
	.logo-and-search {
		justify-content: center;
	}
	i.breakpoint768 {
		display: initial;
		font-size: 20px;
	}
}

/* TITRE */

h1 {
	font-size: 50px;
	font-weight: bold;
	margin: 30px 0;
}

h1 span {
	color: var(--orange);
}

/* 2ND NAVBAR */

.secondary-navbar {
	margin-bottom: 24px;
}

.secondary-navbar ul {
	display: flex;
	overflow: scroll;
}

.secondary-navbar li {
	height: 66px;
	margin: 5px;
	display: flex;
	justify-content: space-between;
	border: solid black 1px;
	border-radius: 10px;
	flex: 1;
}

.secondary-navbar li:hover {
	background-color: black;
	color: white;
	transition: 0.3s;
}

.secondary-navbar li:hover a {
	color: white;
	transition: 0.3s;
}

.secondary-navbar a {
	padding: 10px;
	height: 100%;
	width: 100%;
	border-radius: 10px;

	text-decoration: none;
	color: black;
}

nav.navbar ul li a:hover {
	color: white;
	transition: 0.3s;
}

.secondary-navbar i {
	padding: 15px;
}

@media (min-width: 1184px) {
	.secondary-navbar li.no-display {
		display: none;
	}
}
@media (max-width: 1184px) {
	.secondary-navbar ul {
		flex-wrap: wrap;
	}
	.flex-break {
		flex-basis: 100%;
	}
}

@media (max-width: 768px) {
	.secondary-navbar ul {
		flex-wrap: nowrap;
		white-space: nowrap;
	}
	.secondary-navbar ul li {
		height: 50px;
		line-height: 25px;
	}
}
/* SECTION */

/* FIRST SECTION */

.first-section .carousel {
	display: flex;
	max-width: 100%;
	object-fit: cover;
	justify-content: space-between;
	margin-bottom: 6px;
}

.large-pic {
	position: relative;
	margin-right: 3px;
	width: 60%;
	flex: 1.5;
	margin-bottom: 3px;
}
.large-pic img {
	width: 100%;
	height: 100%;
}
.large-pic img:hover {
	opacity: 0.7;
	transition: 0.5s;
	cursor: zoom-in;
}
.carousel .large-pic a {
	font-size: 12px;
	border-radius: 20px;
	text-decoration: none;
	position: absolute;
	bottom: 20px;
	left: 10px;
	display: block;
	height: 35px;
	width: 130px;
	background-color: rgba(0, 0, 0, 0.726);
	color: white;
	z-index: 4;
	justify-content: center;
	line-height: 35px;
	padding-left: 10px;
}
.carousel .large-pic a:hover {
	background-color: var(--grey);
	transition: 0.3s;
}

.small-pic {
	width: 40%;
	display: flex;
	flex-direction: column;
	flex: 1;
}

@media (max-width: 768px) {
	.small-pic {
		display: none;
	}
}

.small-pic img {
	margin-bottom: 3px;
}
.small-pic img:hover {
	opacity: 0.7;
	transition: 0.5s;
	cursor: zoom-in;
}

/* links */
div.links {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}
div.links p {
	font-size: 12px;
	line-height: 14px;
	color: var(--grey);
}

/* SECOND SECTION */

.second-section {
	display: flex;
	margin-bottom: 300px;
}

@media (max-width: 768px) {
	.second-section {
		flex-direction: column;
		align-items: center;
	}
	.second-section div.description {
		width: 100%;
		padding: 0;
		margin-bottom: 40px;
	}

	.second-section aside {
		position: relative;
		width: 70%;
		justify-content: center;
		align-items: center;
	}
}

.second-section .description {
	width: 60%;
	padding-right: 100px;
}

h2 {
	font-size: 28px;
	margin-bottom: 20px;
	font-weight: bold;
}

.second-section .description p {
	font-family: "Georgia";
	color: var(--grey);
	display: block;
	font-size: 20px;
	line-height: 1.5rem;
	margin-right: 10px;
}

section aside {
	position: relative;
	display: block;
	width: 40%;
	margin-left: 20px;
}

aside .map-carte {
	background-color: var(--orange);
	padding: 30px;
	border-radius: 15px 15px 0 0;
	z-index: 2;
}

aside .map-carte button {
	margin: 20px 0 0px 0;
	padding: 0 15px;
	height: 50px;
	border: none;
	border-radius: 20px;
	background-color: var(--grey);
	color: white;
	font-size: 14px;
	cursor: pointer;
}

aside .carte button:hover {
	background-color: var(--medium-grey);
	transition: 0.3s;
}

section .map {
	border-radius: 0px 0 15px 15px;

	position: absolute;
	margin-top: -70px;
	width: 100%;
	z-index: -1;
}

/* THIRD SECTION */

h3 {
	font-size: 24px;
	margin-bottom: 20px;
	color: black;
}

h4 {
	font-size: 18px;
	margin: 8px 0 0px;
	color: black;
}

.secondary-carousel {
	margin: 40px 0 80px 0;
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

@media (max-width: 768px) {
	.secondary-carousel {
		margin: 40px 0 80px 0;
		display: initial;
		justify-content: space-between;
		gap: 5px;
	}
	.secondary-carousel .description {
		margin: 40px 0;
	}
}

.secondary-carousel .description {
	flex: 1;
}

.secondary-carousel .description p {
	line-height: 20px;
	margin-bottom: 20px;
	padding-right: 20px;
	color: var(--grey);
}

.secondary-carousel a {
	color: var(--medium-grey);
	font-weight: bold;
}

.carousel-scroll {
	display: flex;
	overflow: scroll;
	flex: 3;
	gap: 15px;
}

.carte {
	flex: 1;
	min-width: 270px;
}

.carte p {
	font-size: 14px;
	color: var(--grey);
}

.secondary-carousel .carousel-pic {
	position: relative;
}
@media (max-width: 768px) {
	.carte {
		min-width: 80vw;
	}
}

.carte:hover .actual-pic {
	opacity: 0.8;
	transition: 0.3s;
}
.carte:hover h4 {
	color: var(--medium-grey);
	text-decoration: underline;
}

.carousel-pic .actual-pic {
	object-fit: cover;
	width: 100%;
}

.top-right {
	font-size: 20px;
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 8px;
	background-color: white;
	border-radius: 50%;
}

.bottom-left {
	position: absolute;
	bottom: 10px;
	left: 5px;
}

.michelin {
	margin-bottom: -5px;
	width: 70px;
}

.rating {
	color: var(--green);
	font-size: 11px;
	margin: 5px 0;
}

/* FOOTER */

footer {
	height: 400px;
	background-color: var(--light-grey);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
footer img {
	width: 50px;
	height: 50px;
}

footer p {
	font-size: 20px;
	color: var(--green);
}
footer span {
	font-weight: bold;
}
